.container {
    max-width: 500px; /* Define el ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor en la página */
    padding: 20px; /* Agrega un espacio interno alrededor del contenedor */
    text-align: center; /* Centra el texto horizontalmente dentro del elemento que tenga esta clase */
  }
  
  .text-center {
    text-align: center; /* Centra el texto horizontalmente dentro del elemento que tenga esta clase */
  }
  
  .form-group {
    margin-bottom: 15px; /* Agrega un margen inferior a los elementos con esta clase */
  }
  
  .btn {
    display: inline-block; /* Hace que el elemento sea un bloque en línea */
    padding: 8px 12px; /* Agrega un espacio interno alrededor del botón */
    font-size: 16px; /* Define el tamaño de fuente del botón */
    text-align: center; /* Centra el texto dentro del botón */
    white-space: nowrap; /* Evita que el texto se envuelva en varias líneas */
    vertical-align: middle; /* Alinea verticalmente el botón */
    cursor: pointer; /* Cambia el cursor del mouse al pasar por encima del botón */
    border: 1px solid transparent; /* Define el borde del botón */
    border-radius: 4px; /* Agrega esquinas redondeadas al botón */
  }
  
  .btn-primary {
    color: #fff; /* Define el color del texto del botón */
    background-color: #007bff; /* Define el color de fondo del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Establece el espacio de relleno dentro del botón */
    font-size: 16px; /* Establece el tamaño de fuente del texto del botón */
    border-radius: 4px; /* Establece el radio de borde del botón */
    cursor: pointer; /* Cambia el cursor cuando se coloca sobre el botón */
  }
  
  .row {
    margin-right: -15px; /* Agrega un margen derecho negativo para compensar los márgenes de las columnas */
    margin-left: -15px; /* Agrega un margen izquierdo negativo para compensar los márgenes de las columnas */
  }
  
  .col {
    position: relative; /* Define la posición relativa de las columnas */
    width: 100%; /* Establece el ancho de las columnas al 100% del contenedor */
    padding-right: 15px; /* Agrega un espacio interno derecho a las columnas */
    padding-left: 15px; /* Agrega un espacio interno izquierdo a las columnas */
  }